<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widgets Preview | Mobalytics</title>

  <style>
    .widgets-list {
      margin: 0 20px;
    }

    .widget-preview {
      width: 100%;
      position: relative;
      display: inline-flex;
    }

    .row {
      display: flex;
      margin: 0 0 80px 0;
    }

    .row > div {
      margin: 20px
    }
  </style>
</head>

<body>
  <div class="widgets-list">

    <h1>Champion tooltips</h1>

    <div style="width: 3333px" class="row">
      <div style="width: 740px">
        <div
          data-moba-widget="lol-champion-build"
          data-moba-champion="akali"
          data-moba-champion-role="TOP"
          data-moba-champion-patch="11.17"
          class="widget-preview"></div>
      </div>

      <div style="width: 740px">
        <div
          data-moba-widget="lol-champion-build"
          data-moba-champion="akali"
          data-moba-champion-role="TOP"
          data-moba-champion-region="KR"
          class="widget-preview"></div>
      </div>

<!--      <div style="width: 740px">-->
<!--        <div-->
<!--          data-moba-widget="lol-champion-build"-->
<!--          data-moba-champion="akali"-->
<!--          data-moba-champion-role="TOP"-->
<!--          data-moba-champion-build-type="most-popular"-->
<!--          class="widget-preview"></div>-->
<!--      </div>-->

<!--      <div style="width: 740px">-->
<!--        <div-->
<!--          data-moba-widget="lol-champion-build"-->
<!--          data-moba-champion="akali"-->
<!--          data-moba-champion-role="TOP"-->
<!--          data-moba-champion-build-type="highest-wr"-->
<!--          class="widget-preview"></div>-->
<!--      </div>-->

      <div style="width: 740px">
        <div
          data-moba-widget="lol-champion-build"
          data-moba-champion="akali"
          data-moba-champion-build-id="275770325"
          class="widget-preview"></div>
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a target="_blank" href="https://app.mobalytics.gg/lol/champions/aatrox/build" data-moba-tooltip="lol-champion-tooltip">Aatrox link with tooltip</a>

    <a target="_blank" href="https://app.mobalytics.gg/lol/champions/amumu/build" data-moba-tooltip="lol-champion-tooltip">Amumu link with tooltip</a>

    <a target="_blank" href="https://app.mobalytics.gg/lol/champions/" data-moba-tooltip="lol-champion-tooltip">Error</a>

    <h1>Compact widget full data</h1>

    <div style="width: 3333px" class="row">
      <div style="width: 740px">
        <h3>Width 740px</h3>
        <div data-moba-widget="lol-champion-build-compact" data-moba-champion="akali" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 600px">
        <h3>Width 600px</h3>
        <div data-moba-widget="lol-champion-build-compact" data-moba-champion="akali" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 560px">
        <h3>Width 560px</h3>
        <div data-moba-widget="lol-champion-build-compact" data-moba-champion="akali" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 300px">
        <h3>Width 300px</h3>
        <div data-moba-widget="lol-champion-build-compact" data-moba-champion="akali" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 300px">
        <h3>Width 300px</h3>
        <div data-moba-widget="lol-champion-build-compact" data-moba-champion="asdfsdf" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 300px">
        <h3>Width 300px</h3>
        <div data-moba-widget="lol-champion-build-compact" data-moba-champion="aatrox" data-moba-champion-role="ADC" class="widget-preview"></div>
      </div>
    </div>

    <h1>Regular widget full data</h1>

    <div style="width: 3333px" class="row">
      <div style="width: 740px">
        <h3>Width 740px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 600px">
        <h3>Width 600px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 560px">
        <h3>Width 560px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 300px">
        <h3>Width 300px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>
    </div>

    <h1>Build not found</h1>

    <div style="width: 3333px" class="row">
      <div style="width: 740px">
        <h3>Width 740px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="ADC" class="widget-preview"></div>
      </div>

      <div style="width: 600px">
        <h3>Width 600px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="ADC" class="widget-preview"></div>
      </div>

      <div style="width: 560px">
        <h3>Width 560px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="ADC" class="widget-preview"></div>
      </div>

      <div style="width: 300px">
        <h3>Width 300px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="aatrox" data-moba-champion-role="ADC" class="widget-preview"></div>
      </div>
    </div>

    <h1>Invalid props</h1>

    <div style="width: 3333px" class="row">
      <div style="width: 740px">
        <h3>Width 740px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 600px">
        <h3>Width 600px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 560px">
        <h3>Width 560px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>

      <div style="width: 300px">
        <h3>Width 300px</h3>
        <div data-moba-widget="lol-champion-build" data-moba-champion="" data-moba-champion-role="TOP" class="widget-preview"></div>
      </div>
    </div>


  </div>
  <script async src="/mobalytics-widgets.js"></script>
</body>

</html>
