<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widgets Preview | Mobalytics</title>

    <style>
        .widgets-list {
            margin: 0 20px;
        }

        .widget-preview {
            width: 100%;
            position: relative;
            display: inline-flex;
        }

        .row {
            display: flex;
            margin: 0 0 80px 0;
        }

        .row > div {
            margin: 20px
        }
    </style>
</head>

<body>
<div class="widgets-list">

    <h1>Champion tooltips</h1>

    <div style="width: 3333px" class="row">

        <div style="width: 300px">
            <div>width: 300px</div>
            <div class="widget-preview" data-moba-widget="lol-champion-build" data-moba-champion="anivia"></div>
        </div>

        <div style="width: 560px">
            <div>width: 560px</div>
            <div data-moba-widget="lol-champion-build" data-moba-champion="anivia" data-moba-champion-region="NA" class="widget-preview"></div>
        </div>

        <div style="width: 600px">
            <div>width: 600px</div>
            <div data-moba-widget="lol-champion-build" data-moba-champion="anivia" data-moba-champion-region="NA" class="widget-preview"></div>
        </div>

        <div style="width: 740px">
            <div>width: 740px</div>
            <div data-moba-widget="lol-champion-build" data-moba-champion="anivia" data-moba-champion-region="NA" class="widget-preview"></div>
        </div>

    </div>

    <div style="width: 3333px" class="row">

        <div style="width: 300px">
            <div>width: 300px</div>
            <div class="widget-preview" data-moba-widget="lol-champion-build-compact" data-moba-champion="anivia"></div>
        </div>

        <div style="width: 560px">
            <div>width: 560px</div>
            <div data-moba-widget="lol-champion-build-compact" data-moba-champion="anivia" data-moba-champion-region="NA" class="widget-preview"></div>
        </div>

        <div style="width: 600px">
            <div>width: 600px</div>
            <div data-moba-widget="lol-champion-build-compact" data-moba-champion="anivia" data-moba-champion-region="NA" class="widget-preview"></div>
        </div>

        <div style="width: 740px">
            <div>width: 740px</div>
            <div data-moba-widget="lol-champion-build-compact" data-moba-champion="anivia" data-moba-champion-region="NA" class="widget-preview"></div>
        </div>

    </div>

<!--    <a target="_blank" href="https://app.mobalytics.gg/lol/champions/aatrox/build" data-moba-tooltip="lol-champion-tooltip">Aatrox link with tooltip</a>-->

<!--    <a target="_blank" href="https://app.mobalytics.gg/lol/champions/amumu/build" data-moba-tooltip="lol-champion-tooltip">Amumu link with tooltip</a>-->

<!--    <a target="_blank" href="https://app.mobalytics.gg/lol/champions/" data-moba-tooltip="lol-champion-tooltip">Error</a>-->


</div>
<script async src="/mobalytics-widgets.js"></script>
</body>

</html>
